.header-container{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-section-container{
    width: 34vw;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.header-menu-links{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
}

.header-menu-link{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.header-menu-link:hover{
    text-decoration: underline;
}

.header-name{
    color: white;
    font-size: 24px;
}

.header-icons{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}

.header-icon{
    height: 30px;
    width: 30px;
}

.github-icon{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.mobile-menu{
    display: none;
}

@media screen and (max-width: 1100px){
    .section-icons{
        width: 20vw;
    }
    .section-links{
        width: 45vw;
    }
}

@media screen and (max-width: 800px){
    .section-links{
        display: none;
    }
    .mobile-menu{
        display: block
    }
    .section-icons{
        margin-right: 30px;
    }
    .section-name{
        width: 100%;
        justify-content: flex-start;
        margin-left: 30px;
    }
}

@media screen and (max-width: 475px){
    .header-icon{
        display: none;
    }
}