.education-card-container{
    width: 750px;
    min-width: 280px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: 1px solid #454545;
    padding: 15px;
}

.education-card-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.education-card-left-content{
    align-self: flex-start;
}

.education-card-dates{
    font-size: 16px;
    margin: 0;
    color: white;
}

.education-card-location{
    color: #808080;
    font-size: 16px;
    margin: 0;
}

@media screen and (max-width: 860px){
    .education-card-container{
        width: 80vw;
        margin: none;
    }
}